
/*Stying for small screens*/
@media screen and (max-width: 1400px) {
    section.banner .banner-right .img-4 {
      top: 20%;
      right: -80px;
  }
  section.banner .banner-right .img-2 {
    bottom: 0;
    right: -50px;
  }
}

@media screen and (min-device-width: 992px) and (max-device-width: 1200px) { 
  .nav-links li a {
    margin: 20px 30px 0px 0px;
  }
  .login-button,.signup-button {
    margin-left: 0;
  }
  .img-wrapper.position-relative {
    width: 93%;
}
  section.banner .shape {
    width: 58%;
  }
    section.banner .banner-left .brand-logo img {
      margin-right: 20px;
      width: 87px;
  }
  .zero-bounch .service-box {
    height: 350px;
  }
  .client .counter-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
}
  .client {
    margin-top: 50px;
    padding: 50px 0px;
  }
  section.verify .verify-text h2 {
    font-size: 30px;
  }
}




@media screen and (max-width: 992px) {
      header {
        background: #ffffff;
        box-shadow: 0px 0px 20px #00000029;
        height: 85px;
    }
    .nav-links {
      position: absolute;
      height: auto;
      width: 100%;
    }
    .nav-links .login-button{
      color: #000;
    }
        nav {
          position: absolute;
          z-index: 3;
        }
        .hamburger {
          display: block;
          position: absolute;
          cursor: pointer;
          right: 30px;
          top: 50%;
          -webkit-transform: translate(-5%, -50%);
                  transform: translate(-5%, -50%);
          z-index: 2;
          -webkit-transition: all 0.7s ease;
          transition: all 0.7s ease;
        }
        .nav-links {
          top: 75px;
          -webkit-box-align: baseline;
              -ms-flex-align: baseline;
                  align-items: baseline;
          position: absolute;
          background: #fff;
          padding: 30px;
          width: 85%;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          clip-path: circle(50px at 90% -20%);
          -webkit-clip-path: circle(0px at 90% -10%);
          -webkit-transition: all 1s ease-out;
          transition: all 1s ease-out;
          pointer-events: none;
        }
        .nav-links .login-button, .nav-links .signup-button {
          margin-left: 0;
        }
        .nav-links li .dropdown {
          left: 100%;
        }
        .nav-links li .dropdown::before {
          left: 50px;
        }
        .nav-links.open {
          clip-path: circle(1000px at 80% -10%);
          -webkit-clip-path: circle(1000px at 80% -10%);
          pointer-events: all;
          width: 95%;
          box-shadow: 0px 0px 15px 1px #6a6a6ae0;
        }
        .nav-links li {
          opacity: 0;
        }
        .nav-links li:nth-child(1) {
          -webkit-transition: all 0.3s ease 0.1s;
          transition: all 0.3s ease 0.1s;
        }
        .nav-links li:nth-child(2) {
          -webkit-transition: all 0.3s ease 0.2s;
          transition: all 0.3s ease 0.2s;
        }
        .nav-links li:nth-child(3) {
          -webkit-transition: all 0.3s ease 0.2s;
          transition: all 0.3s ease 0.2s;
        }
        .nav-links li:nth-child(4) {
          -webkit-transition: all 0.3s ease 0.4s;
          transition: all 0.3s ease 0.4s;
        }
        .nav-links li:nth-child(5) {
          -webkit-transition: all 0.3s ease 0.5s;
          transition: all 0.3s ease 0.5s;
        }
        .nav-links li:nth-child(6) {
          -webkit-transition: all 0.3s ease 0.6s;
          transition: all 0.3s ease 0.6s;
          margin: 0;
        }
        .nav-links li:nth-child(7) {
          -webkit-transition: all 0.3s ease 8s;
          transition: all 0.3s ease 8s;
          margin: 0;
        }
        li.fade {
          opacity: 1;
        }
        section.banner {
          padding-top: 200px;
        }
        section.banner .banner-left h1 {
          font-size: 42px;
        }
        section.banner .button {
          width: 100%;
        }
        .brand-logo{
          text-align: center;
      }
      section.banner .banner-left .brand-logo img {
        margin: 0px 20px;
    }
        section.banner .shape svg {
          width: 50%;
          color: #5f2781;
      }
      section.banner .shape {
        width: 90%;
        position: absolute;
        right: -580px !important;
        top: 400px !important;
        z-index: -1;
    }
    .client .counter-wrapper {
      margin: 0;
      margin-top: 80px;
    }
    section.banner .banner-right {
      text-align: right;
      margin-top: 110px;
      padding-bottom: 100px;
    }
    .client {
      margin-top: 50px;
    }
    .test-service .email-box {
      width: 100%;
      padding: 20px;
    }
    .test-service .email-box input {
      width: 100%;
      margin-bottom: 10px;
    }
    .test-service .email-box .button {
      width: 100%;
      margin-left: 0;
    }
    nav.tab-nav {
      display: block;
      margin-bottom: 50px !important;
      position: unset;
      text-align: center;
    }
    section.tab nav .nav-tabs{
      justify-content: center;
    }
    section.tab nav .nav-tabs .nav-link {
      
      font-size: 14px;
      padding: 10px 0px;
      margin: 0px 10px;
    }
    section.tab .single-tab .button {
      width: 100%;
      margin-top: 20px;
    }
    section.pricing {
      padding: 0px 0px;
    }
    section.pricing .price-wrapper .product .button {
      width: 100%;
    }
    .zero-bounch {
      margin: 75px 0px 30px 0px;
    }
    .zero-bounch .service-box {
      margin-bottom: 20px;
    }
    .zero-bounch .button {
      margin: 20px auto auto auto;
      width: 95%;
    }
    section.faq .circle svg {
      width: 50%;
      top: 130px;
    }
    .verify .verify-text {
      text-align: center;
    }
    .verify .br-verify{
      display: none;
    }
    section.verify .verify-text h2 {
      color: #fff;
      font-weight: 700;
      font-size: 22px;
    }
    section.verify .verify-text .button {
      width: 100%;
    }
    section.verify .img-wrapper .img-man {
      margin-top: 40px;
      position: relative;
      text-align: center;
    }
    section.verify .img-wrapper .callout__image-shaped-icon {
      left: 21%;
    }
    section.verify .img-wrapper .img-man::after {
      right: 65px !important;
    }
    footer .footer-pc{
      display: none;
    }
    footer .mobile-footer {
      display: unset;
  }

}
  /*Animating Hamburger Icon on Click*/
  .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .toggle .line2 {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    width: 0;
  }
  
  .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }

  @media screen and (max-width: 768px) {

    section.banner .banner-left h1 {
      font-size: 36px;
      margin-top: 50px;
    }
    section.banner .banner-left p {
      font-size: 20px;
    }
    section.banner .banner-left .sub-title {
      margin: 20px 0px;
    }
    section.banner .banner-left .brand-logo img {
      margin: 0px 10px;
  }
  section.banner .shape {
    right: -425px !important;
  }
  .client .counter-wrapper {
    margin-top: 0;
  }
.client .counter-box {
  margin-top: 80px;
}
.section-title h2 {
  font-size: 24px;
  margin-bottom: 15px;
}
section.tab nav .nav-tabs .nav-link {
  padding: 10px 10px;
  margin: 9px 25px;
  background: #f1f1f1;
  border-radius: 5px;
}








  }


  @media screen and (max-width: 480px){
      section.banner .banner-left h1 {
        font-size: 23px;
        margin-top: 20px;
    }
    section.banner .banner-left .sub-title {
      font-size: 16px;
    }
    section.banner .banner-left p strong {
      font-size: 18px;
    }
    section.banner .banner-left .brand-logo img {
      margin: 10px 25px;
  }
  section.banner .banner-right .img-6 {
    width: 200px;
    bottom: -150px;
    left: 5px;
}
  section.banner .banner-right .img-1 {
    bottom: -10px;
    left: -13px;
  }
  section.banner .banner-right .img-3 {
    bottom: -30px;
    left: 135px;
    width: 208px;
}
section.banner .banner-right .img-4 {
  width: 169px;
  top: 0%;
  right: -30px;
}
section.banner .banner-right .img-2 {
  width: 200px;
  bottom: 10px;
  right: 9px;
}
.section-title span {
  font-size: 14px;
}
.client {
  padding: 60px 0px;
}
  .client .counter-box h2 {
    font-size: 34px;
  }

  .test-service {
    margin: 50px 0px;
}
.zero-bounch .service-box h3 {
  font-size: 20px;
}
section.tab .single-tab {
  margin-top: 160px;
}
.section.tab nav .nav-tabs .nav-link {
  padding: 3px 10px;
}
section.pricing .toggle-container {
  padding: 20px 0px;
}
section.pricing .price-wrapper {
  padding: 40px 10px;
}
section.pricing .toggle-container .month,.year {
  font-size: 15px;
}
section.pricing .toggle-container .year {
  font-size: 15px;
}
section.pricing .toggle-container .discount {
  display: none;
}

  section.pricing .price-wrapper .product #pageviews {
    width: 100%;
    margin-bottom: 10px;
  }
  section.pricing .price-wrapper .right .price {
    font-size: 36px;
  }
  section.faq .accordion-container .article-title {
    font-size: 16px;
  }
  section.faq .accordion-container .content-entry i {
    top: 10px;
  }
  section.verify .img-wrapper .img-man img{
    width: 100%;
  }
  section.verify .img-wrapper .img-man::after {
    right: 0px !important;
}
section.verify .img-wrapper .callout__image-shaped-icon {
  left: -1%;
}
footer .mobile-footer .social-link {
  margin: 5px 20px;
}
footer {
  padding: 50px 0px 1px 0px;
}

footer .mobile-footer .social-link a {
  font-size: 20px;
}
footer .mobile-footer .copyright-text {
  padding: 10px 0px;
}
section.verify .verify-text h2 {
  font-size: 18px;
}


  }