/**** Basic setup here *****/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Nunito+Sans:wght@300;400;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

a, span, i, p {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/****header Section start ******/
header {
  top: 0;
  position: fixed;
  background: transparent;
  width: 100%;
  z-index: 9999;
  padding: 10px 0px;
}

header.sticky {
  background: #fff;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

header.sticky .login-button {
  color: #000;
}

nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 10;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

/*Styling logo*/
.logo img {
  margin-top: -25px;
  margin-right: 70px;
  width: 160px;
}

/*Styling Links*/
.nav-links {
  height: 50px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-transform: capitalize;
}

.nav-links li:hover .dropdown {
  opacity: 1;
  visibility: visible;
}

.nav-links li .dropdown {
  border-radius: 5px;
  width: 270px;
  padding: 30px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px 1px #00000052;
          box-shadow: 0px 0px 10px 1px #00000052;
  position: absolute;
  top: 130%;
  left: 30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

.nav-links li .dropdown li {
  margin-bottom: 10px;
}

.nav-links li .dropdown li i {
  margin-right: 15px;
  color: #1E8BC2;
  font-size: 18px;
}

.nav-links li .dropdown li a:hover {
  color: #1E8BC2;
}

.nav-links li .dropdown::before {
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -35px;
  left: 50%;
  content: '';
  width: 50px;
  height: 50px;
  background: #ffffff;
  z-index: 999;
  -webkit-clip-path: polygon(50% 31%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 31%, 0% 100%, 100% 100%);
  -webkit-box-shadow: 0px 0px 10px 1px #00000052;
          box-shadow: 0px 0px 10px 1px #00000052;
}

.nav-links li {
  position: relative;
}

.nav-links li a {
  font-weight: 700;
  text-decoration: none;
  margin: 20px 40px 0px 0px;
  color: #171e25;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
}

.nav-links li a:hover {
  color: #FBDD46;
}

.buttons ul {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/*Styling Buttons*/
.login-button {
  background-color: transparent;
  border: transparent;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  margin-left: 50px;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
  z-index: 2;
}

.signup-button {
  margin-left: 20px;
  font-weight: 700;
  font-size: 15px;
  color: #131418;
  background-color: #FBDD46;
  border-radius: 10px;
  padding: 10px 25px;
  border: transparent;
  cursor: pointer;
  z-index: 2;
}

.signup-button:hover {
  background-color: #ffee98;
  border: transparent;
  -webkit-transition: all ease-in-out 350ms;
  transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #000000;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

/*** Banner section *****/
.button {
  background: #FBDD46;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  text-transform: capitalize;
  border-radius: 10px;
  text-align: center;
}

.button:hover {
  background: #ffeb85;
  text-decoration: none;
  color: #000;
}

section.banner {
  padding-top: 350px;
  overflow: hidden;
  margin-top: -100px;
}

section.banner .shape {
  position: absolute;
  right: -275px;
  top: -110px;
  z-index: -1;
}

section.banner .shape svg {
  color: #5f2781;
}

section.banner .banner-left h1 {
  font-size: 56px;
  font-weight: 900;
}

section.banner .banner-left h1 span {
  color: #1E8BC2;
}

section.banner .banner-left .sub-title {
  font-size: 18px;
  line-height: 1.44;
  margin: 30px 0px;
  color: #606e7b;
}

section.banner .banner-left p {
  font-size: 22px;
  color: #1E8BC2;
}

section.banner .banner-left p strong {
  color: #000;
  font-size: 24px;
  font-weight: 900;
}

section.banner .banner-left .brand-logo img {
  margin-right: 20px;
  width: 100px;
}

section.banner .button {
  width: 250px;
  margin-top: 30px;
}

section.banner .banner-right {
  text-align: right;
}

section.banner .banner-right .intro-img {
  width: 100%;
}

section.banner .banner-right .float-img {
  position: absolute;
}

section.banner .banner-right .img-1 {
  z-index: 2;
  bottom: 20px;
  left: 50px;
}

section.banner .banner-right .img-2 {
  bottom: 0;
  right: -75px;
}

section.banner .banner-right .img-3 {
  bottom: -25px;
  z-index: 99;
  left: 189px;
}

section.banner .banner-right .img-4 {
  top: 20%;
  right: -120px;
}

section.banner .banner-right .img-5 {
  top: -75px;
  right: 135px;
}

section.banner .banner-right .img-6 {
  bottom: -100px;
  left: 60px;
}

/***** Client section******/
.section-title {
  text-align: center;
}

.section-title h2 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 5px;
  position: relative;
  display: inline-block;
}

.section-title h2::after {
  position: absolute;
  bottom: -5px;
  left: 20%;
  height: 3px;
  width: 50%;
  background: #5f2781;
}

.section-title span {
  display: block;
  color: #606e7b;
  font-size: 16px;
}

.client {
  margin-top: 100px;
  padding: 100px 0px;
  background: #fef6fd;
}

.client .counter-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
}

.client .counter-box {
  -webkit-box-shadow: 0px 0px 30px 1px #48484857;
          box-shadow: 0px 0px 30px 1px #48484857;
  margin-top: 30px;
  text-align: center;
  background: #fff;
  padding: 30px;
  position: relative;
}

.client .counter-box i {
  position: absolute;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 48px;
  background: #FBDD46;
  border: 3px solid #fff;
  color: #5f2781;
  padding: 20px;
  border-radius: 50%;
}

.client .counter-box h2 {
  font-size: 48px;
  color: #5f2781;
  margin: 20px 0px;
  font-weight: 700;
}

.client .counter-box span {
  font-size: 18px;
  font-weight: 600;
}

/**** Service test section ****/
.test-service {
  margin: 100px 0px;
}

.test-service .section-title h2 {
  font-weight: 900;
}

.test-service .email-box {
  background: #5f2781;
  padding: 30px;
  border-radius: 15px;
  width: 750px;
  margin: 50px auto 0px auto;
  text-align: center;
}

.test-service .email-box input {
  width: 68%;
  border-radius: 10px;
  padding: 15px;
  border: none;
  outline: none;
}

.test-service .email-box input::-webkit-input-placeholder {
  color: #000;
}

.test-service .email-box input:-ms-input-placeholder {
  color: #000;
}

.test-service .email-box input::-ms-input-placeholder {
  color: #000;
}

.test-service .email-box input::placeholder {
  color: #000;
}

.test-service .email-box .button {
  width: 27%;
  margin-left: 10px;
}

.test-service .email-box .button i {
  margin-right: 10px;
  font-size: 21px;
}

/***** Tab section *******/
section.tab {
  margin-bottom: 100px;
}

section.tab .setiom-title h2 {
  font-weight: 700;
  margin-bottom: 50px;
}

section.tab nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.tab nav .nav-tabs {
  border: none;
}

section.tab nav .nav-tabs .nav-link {
  color: #606e7b;
  font-size: 21;
  font-weight: 900;
  text-transform: uppercase;
  border: none;
  padding: 20px 0px;
  margin: 0px 20px;
}

section.tab nav .nav-tabs .nav-link.active {
  border-bottom: 3px solid #5f2781;
  color: #5f2781;
}

section.tab .single-tab {
  margin-top: 50px;
}

section.tab .single-tab img {
  width: 95%;
}

section.tab .single-tab span {
  font-size: 18px;
  color: #5f2781;
  font-weight: 700;
  margin-top: 30px;
}

section.tab .single-tab h2 {
  font-size: 24px;
  font-weight: 900;
  margin: 20px 0px;
}

section.tab .single-tab p {
  color: #606e7b;
  line-height: 1.5;
  margin-top: 10px;
  font-size: 16px;
}

section.tab .single-tab .button {
  width: 200px;
  margin-top: 20px;
}

/*****Pricing section*****/
section.pricing {
  padding: 50px 0px;
}

section.pricing .section-title {
  margin-bottom: 50px;
}

section.pricing .price-wrapper {
  background: #ebf5fa;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
  padding: 40px;
  font-size: 1em;
  color: #858fad;
  font-weight: 800;
}

section.pricing .price-wrapper .product {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

section.pricing .price-wrapper .product #period {
  color: #5f2781;
}

section.pricing .price-wrapper .product #pageviews {
  padding: 10px;
  background: #fff;
  width: 350px;
  font-size: 32px;
  color: #000;
  border: 1px solid #5f278152;
  border-radius: 5px;
}

section.pricing .price-wrapper .product .purces-title {
  font-size: 12px;
  font-weight: 400;
  color: #363636;
}

section.pricing .price-wrapper .product .button {
  margin-top: 50px;
}

section.pricing .price-wrapper .product i {
  font-size: 12px;
  color: #606e7b;
  margin-top: 10px;
  font-weight: 400;
}

section.pricing .price-wrapper .right .price {
  color: black;
  font-size: 58px;
  margin-right: 5px;
}

section.pricing .price-wrapper .right .total {
  font-size: 14px;
  color: #000;
  font-weight: 400;
}

section.pricing .toggle-container {
  text-align: center;
  color: #858fad;
  font-size: 0.95em;
  padding: 40px;
}

section.pricing .toggle-container .month {
  color: #5f2781;
  font-size: 18px;
}

section.pricing .toggle-container .year {
  color: #5f2781;
  font-weight: 600;
  font-size: 18px;
}

section.pricing .toggle-container .show {
  display: none;
}

section.pricing .toggle-container .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin: 0 15px;
}

section.pricing .toggle-container .switch .slide {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

section.pricing .toggle-container .switch .slide:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 6px;
  bottom: 3px;
  background-color: #5f2781;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

section.pricing .toggle-container .switch .slide.round {
  border-radius: 34px;
}

section.pricing .toggle-container .switch .slide.round:before {
  border-radius: 50%;
}

section.pricing .toggle-container .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

section.pricing .toggle-container .switch input:checked + .slide {
  background-color: #FBDD46;
}

section.pricing .toggle-container .switch input:focus + .slide {
  -webkit-box-shadow: 0 0 1px #8d10d5;
          box-shadow: 0 0 1px #8d10d5;
}

section.pricing .toggle-container .switch input:checked + .slide:before {
  -webkit-transform: translateX(18px);
          transform: translateX(18px);
}

section.pricing .toggle-container .discount {
  background-color: #feece7;
  color: #ff8c66;
  font-size: 0.85em;
  padding: 1px 8px;
  border-radius: 15px;
  margin-left: 6px;
}

.slider {
  width: 70%;
  margin: 50px auto 50px auto;
  padding: 0 40px;
}

.slider input {
  background: -webkit-gradient(linear, left top, right top, from(#5f2781), color-stop(50%, #5f2781), color-stop(50%, #eaeefb), to(#eaeefb));
  background: linear-gradient(to right, #5f2781 0%, #5f2781 50%, #eaeefb 50%, #eaeefb 100%);
  border-radius: 8px;
  height: 8px;
  width: 100%;
  border-radius: 4px;
  outline: none;
  -webkit-transition: all 450ms ease-in;
  transition: all 450ms ease-in;
  -webkit-appearance: none;
}

.slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(../img/price-range.png) #5f2781 center no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 10px 20px 0px #5f2781;
          box-shadow: 0px 10px 20px 0px #5f2781;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media only screen and (max-width: 610px) {
  .title {
    text-align: center;
  }
  .title .hide {
    display: block;
  }
  .container .upper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .slider {
    width: 100%;
  }
  .discount .hide {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .container .toggle-container {
    text-align: center;
  }
  .container .toggle-container .show {
    display: block;
  }
}

/**** Zero bounch section *****/
.zero-bounch {
  margin: 100px 0px;
}

.zero-bounch .section-title {
  margin-bottom: 70px;
}

.zero-bounch .service-box {
  padding: 32px;
  border-radius: 10px;
  background: #F8F4FB;
  text-align: center;
}

.zero-bounch .service-box i {
  font-size: 50px;
  color: #5f2781;
  margin: 10px 0px;
}

.zero-bounch .service-box h3 {
  color: #000;
  font-size: 22px;
  margin: 20px 0px;
  font-weight: 800;
}

.zero-bounch .service-box p {
  font-size: 16px;
  color: #606e7b;
  font-weight: 600;
}

.zero-bounch .button {
  margin: 80px auto auto auto;
}

/****************** FAQ section **************/
section.faq {
  position: relative;
  padding: 50px 0px;
  /* This stuff is just for the Codepen demo */
}

section.faq .section-title {
  margin-bottom: 70px;
}

section.faq .intrigrate-img {
  width: 100%;
}

section.faq .circle svg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

section.faq .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.faq #content-faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

section.faq .accordion-container {
  position: relative;
  width: 100%;
  border-top: none;
  outline: 0;
  cursor: pointer;
}

section.faq .accordion-container .article-title {
  display: block;
  position: relative;
  margin: 0;
  padding: 0.625em 0.625em 0.625em 2em;
  font-size: 22px;
  font-weight: 700;
  color: #000;
  cursor: pointer;
}

section.faq .accordion-container .article-title:hover,
section.faq .accordion-container .article-title:active,
section.faq .accordion-container .content-entry.open .article-title {
  color: #5f2781;
  background: #f0e19a;
}

section.faq .accordion-container .article-title:hover i:before,
section.faq .accordion-container .article-title:hover i:active,
section.faq .accordion-container .content-entry.open i {
  color: #5f2781;
}

section.faq .accordion-container .content-entry i {
  position: absolute;
  top: 15px;
  left: 10px;
  font-style: normal;
  font-size: 20px;
  color: #000;
}

section.faq .accordion-container .content-entry i:before {
  content: "\f0d7";
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
}

section.faq .accordion-container .content-entry.open i:before {
  content: "\f0de";
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
}

section.faq .accordion-content {
  display: none;
  padding-left: 2.3125em;
}

section.faq #content {
  width: 100%;
}

section.faq .accordion-container,
section.faq #description {
  width: 90%;
  margin: 1.875em auto;
}

section.faq #description p {
  line-height: 1.5;
}

section.faq #description h2 {
  text-align: center;
}

@media all and (min-width: 860px) {
  section.faq #content {
    width: 70%;
    margin: 0 auto;
  }
}

/**** Section verification *********/
section.verify {
  overflow: hidden;
  background: #5f2781;
  padding: 50px 0px;
}

section.verify .callout .callout__shape {
  background: #5f2781;
  opacity: .36;
  mix-blend-mode: multiply;
  width: 710px;
  height: 710px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: -406px;
  top: -444px;
}

section.verify .verify-text h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

section.verify .verify-text .button {
  width: 250px;
  font-weight: 800;
  margin-bottom: 10px;
}

section.verify i {
  color: #fff;
}

section.verify .img-wrapper .callout__image-shaped-icon {
  position: absolute;
  top: 50px;
  left: 0px;
  background: #fff;
  padding: 15px 15px 7px 15px;
  border-radius: 10px;
  z-index: 99;
}

section.verify .img-wrapper .img-man {
  position: relative;
}

section.verify .img-wrapper .img-man::after {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #FBDD46;
  right: 50px;
  top: 0;
  z-index: 99;
}

/**** Footer section*****/
footer {
  padding: 50px 0px;
  /*** Mobile footer ********/
}

footer .footer-pc .footer-logo img {
  width: 90%;
  margin-bottom: 30px;
}

footer .footer-pc h4 {
  font-size: 14px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}

footer li {
  color: #606e7b;
  font-size: 14px;
  line-height: 1.72;
}

footer a {
  color: #606e7b;
  font-size: 14px;
}

footer a:hover {
  color: #000;
  text-decoration: none;
}

footer .social-link {
  margin-top: 10px;
}

footer .social-link a {
  margin-right: 10px;
  color: #353535;
}

footer .social-link a:hover {
  color: #000;
}

footer .mobile-footer {
  display: none;
}

footer .mobile-footer .footer-logo img {
  width: 200px;
  margin-bottom: 30px;
}

footer .mobile-footer #content-faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

footer .mobile-footer .accordion-container {
  position: relative;
  width: 100%;
  border-top: none;
  outline: 0;
  cursor: pointer;
}

footer .mobile-footer .accordion-container .article-title {
  display: block;
  position: relative;
  padding-bottom: 20;
  letter-spacing: .07em;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  cursor: pointer;
}

footer .mobile-footer .accordion-container .content-entry i {
  position: absolute;
  top: 15px;
  right: 0px;
  font-style: normal;
  font-size: 20px;
  color: #000;
}

footer .mobile-footer .accordion-container .content-entry i:before {
  content: "\f0d7";
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
}

footer .mobile-footer .accordion-container .content-entry.open i:before {
  content: "\f0de";
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
}

footer .mobile-footer .accordion-content {
  display: none;
}

footer .mobile-footer .accordion-content li {
  padding-bottom: 20px;
}

footer .mobile-footer #content {
  width: 100%;
}

footer .mobile-footer #description h2 {
  text-align: center;
}

@media all and (min-width: 860px) {
  footer .mobile-footer #content {
    width: 70%;
    margin: 0 auto;
  }
}

footer .mobile-footer .social-link {
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .mobile-footer .social-link a {
  font-size: 25px;
}

footer .mobile-footer .copyright-text {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */